<nav class="nav clearfix">
	{{widget('extendednavigation', 'navigationheader', {})|raw}}
</nav>	
<header class="bk-header">
	{{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"", "defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50', 'showBtn': true})|raw}}
</header>