<nav class="nav clearfix">
	{{widget('extendednavigation', 'navigationheader', {})|raw}}
</nav>	
<header class="bk-header">
	<div class="widget feature">    
	  <div class="feature-bgimg">
			<div class="content-container">
		        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
		        {{widget('content', 'strapline', {"content":'<h3>Lorum ipsum</h3>'})|raw}}
			</div>
		</div>
	</div>
</header>